<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location = "classpath:musicPlayer.properties"/> <!-- Getting from .properties -->

    <bean id="musicBean"
          class="ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">
    </bean>

       <!-- Inside on this bean dependency musicBean is injected -->
    <bean id="musicPlayer"
          scope="singleton"
          class="MusicPlayer"> <!-- If scope="prototype", then different beans -->
        <property name = "music" ref = "musicBean"/>  <!-- Name of setter ( without word 'set') and ref to bean -->
        <property name = "name" value = "${musicPlayer.name}"/> <!-- Name of setter ( without word 'set') and value which we want to inject -->
        <property name = "volume" value = "${musicPlayer.volume}"/>
    </bean>

</beans>